body {
  margin: 0 auto;
  padding: 0;
  min-width: 1920px;
  font: 400 14px/18px "Montserrat", "Arial", sans-serif;
  color: #000000;
  text-transform: none;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  width: 1840px;
  padding: 0 40px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 10px;
  text-align: center;
  font: 400 14px/18px "Montserrat", "Arial", sans-serif;
  color: #b98000;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ffc74a;
  border-radius: 30px;
  border: none;
  outline:none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button:hover,
.button:focus {
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(248, 199, 89, 0.5);
          box-shadow: 0px 0px 10px 5px rgba(248, 199, 89, 0.5);
}

.button:active {
  background-color: #f1bc45;
}

.site-navigation-list,
.popular-list,
.types-list,
.cities-list,
.places-list {
  list-style: none;
}

.header-top {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 183px;
}

.main-header {
  color: #ffffff;
  background-color: #343434;
  background-image: url("../img/header-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  margin-bottom: 260px;
}

.main-header-logo {
  cursor: pointer;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.6;
}

.polind-logo {
  font: 700 29px/60px "Montserrat", "Arial", sans-serif;
  padding-left: 17px;
  padding-top: 2px;
  margin: 0;
  margin-right: 1148px;
}

.site-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
}

.site-navigation-link {
  font: 400 18px/65px "Montserrat", "Arial", sans-serif;
  color: #ffffff;
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  color: #f8c759;
}

.site-navigation-link:active {
  opacity: 0.8;
}

.site-navigation-item {
  padding-right: 50px;
}

.search-link {
  position: relative;
}

.search-link::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 7px;
  width: 16px;
  height: 16px;
  z-index: 100;
  background: transparent url("../img/icon-search.png") 100% no-repeat;
  opacity: 1;
  cursor: pointer;
}

.search-link:hover::before,
.search-link:focus::before {
  opacity: 0.8;
}

.header-middle {
  width: 590px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 268px;
}

.header-title {
  font: 700 92px/92px "Montserrat", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.header-title span {
  color: #ed6950;
}

.header-text {
  margin: 0;
  font: 400 18px/60px "Montserrat", "Arial", sans-serif;
  opacity: 0.2;
  margin-bottom: 30px;
}

.search-button {
  font: 700 14px/18px "Montserrat", "Arial", sans-serif;
  padding: 18px 36px 16px 36px;
}

.header-bottom {
  position: relative;
}

.popular {
  text-align: center;
  margin: 0;
  font: 400 18px/30px "Montserrat", "Arial", sans-serif;
  padding-bottom: 257px;
}

.popular-list {
  position: absolute;
  top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.popular-item {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-right: 30px;
}

.popular-item:last-child {
  margin-right: 0;
}

.popular-item:nth-child(3) {
  margin-right: 27px;
}

.popular-info-wrapper {
  position: absolute;
  top: 318px;
  text-align: center;
  display: block;
  width: 371px;
}

.popular-name {
  text-align: center;
  margin: 0;
  font: 700 30px/30px "Montserrat", "Arial", sans-serif;
}

.popular-region {
  margin: 0;
  font: 400 14px/30px "Montserrat", "Arial", sans-serif;
  color: #ffc74a;
}

.actions {
  top: 340px;
  width: 371px;
  position: absolute;
  z-index: 10px;
  text-align: center;
  display: none;
}

.view-offers-button {
  font: 700 14px/18px "Montserrat", "Arial", sans-serif;
  padding: 15px 57px 17px 55px;
}

.popular-item:hover .actions,
.popular-item:focus .actions {
  display: block;
}

.popular-item:hover .popular-info-wrapper,
.popular-item:focus .popular-info-wrapper {
  top: 187;
}

.popular-item:hover .popular-name,
.popular-item:focus .popular-name  {
  font: 700 48px/58px "Montserrat", "Arial", sans-serif;
}

.popular-item:hover .popular-region,
.popular-item:focus .popular-region  {
  color: #ffffff;
}

.search-title {
  margin: 0;
  text-align: center;
  font: 700 30px/58px "Montserrat", "Arial", sans-serif;
  color: #606f81;
  margin-bottom: 40px;
}

.where-to-go  {
  width: 1170px;
  margin: 0 auto;
  text-align: center;
}

.search-form {
  margin-bottom: 20px;
}

.search-field {
  width: 810px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 100px 22px 29px;
  border: none;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 85px 0px rgba(141, 148, 169, 0.15);
          box-shadow: 0px 0px 85px 0px rgba(141, 148, 169, 0.15);
  cursor: pointer;
}

.search-field:focus {
  -webkit-box-shadow: 0px 0px 85px 0px rgba(141, 148, 169, 0.55);
          box-shadow: 0px 0px 85px 0px rgba(141, 148, 169, 0.55);
}

.search-field:focus {
  outline: none;
}

input.search-field::-webkit-input-placeholder {
  font: 400 18px/30px "Montserrat", "Arial", sans-serif;
  color: #606f81;
  opacity: 0.6;
}

input.search-field:-ms-input-placeholder {
  font: 400 18px/30px "Montserrat", "Arial", sans-serif;
  color: #606f81;
  opacity: 0.6;
}

input.search-field::-ms-input-placeholder {
  font: 400 18px/30px "Montserrat", "Arial", sans-serif;
  color: #606f81;
  opacity: 0.6;
}

input.search-field::placeholder {
  font: 400 18px/30px "Montserrat", "Arial", sans-serif;
  color: #606f81;
  opacity: 0.6;
}

.search-icon {
  position: relative;
}

.search-icon::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -47px;
  width: 16px;
  height: 16px;
  z-index: 100;
  background: transparent url(../img/icon-search.png) 100% no-repeat;
  opacity: 1;
  cursor: pointer;
}

.search-tags,
.types-list,
.cities-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.search-tags {
  padding-left: 182px;
  margin-bottom: 32px;
}

.types-list {
  padding-right: 280px;
}

.type-item-button {
  color: #ffffff;
  background-color: #bdc8d9;
  font: 700 14px/16px "Montserrat", "Arial", sans-serif;
  text-transform: none;
  padding: 6px 9px;
}

.type-item:first-child .type-item-button {
  padding: 6px 13px;
}

.type-item-button:hover,
.type-item-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #8d97a5;
}

.type-item-button:active {
  background-color: #e5ebf6;
}

.type-item-button-current:hover,
.type-item-button-current:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #b98000;
}

.type-item-button-current:active {
  color: #b98000;
  background-color: #f1bc45;
}

.type-item,
.city-item {
  padding-right: 10px;
}

.type-item-button-current {
  background-color: #ffc74a;
}

.city-item-button {
  color: #8d97a5;
  background-color: transparent;
  border: 1px solid #bdc8d9;
  font: 700 14px/16px "Montserrat", "Arial", sans-serif;
  text-transform: none;
  padding: 5px 9px;
}

.city-item-button:hover,
.city-item-button:focus {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(141, 148, 169, 0.55);
          box-shadow: 0px 0px 5px 0px rgba(141, 148, 169, 0.55);
  color: #8d97a5;
}

.city-item-button:active {
  background-color: #e5ebf6;
}

.places-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1170px;
  padding: 0;
  margin: 0;
}

.place-item {
  width: 370px;
  height: 350px;
  margin-right: 29px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 85px 0px rgba(141, 148, 169, 0.15);
          box-shadow: 0px 0px 85px 0px rgba(141, 148, 169, 0.15);
  margin-bottom: 30px;
  border-radius: 5px;
}

.place-item:nth-child(3n) {
  margin-right: 0;
}

.place-name {
  margin: 0;
  font: 400 30px/40px "Montserrat", "Arial", sans-serif;
  color: #606f81;
  margin-top: 20px;
}

.region {
  margin: 0;
  font: 400 14px/16px "Montserrat", "Arial", sans-serif;
  color: #606f81;
  padding-bottom: 27px;
}

.place-item .view-offers-button {
  padding: 11px 32px;
  background-color: #ffffff;
  color: #bdc8d9;
  -webkit-box-shadow: 0px 0px 54px 0px rgba(141, 148, 169, 0.25);
          box-shadow: 0px 0px 54px 0px rgba(141, 148, 169, 0.25);
  font: 700 14px/16px "Montserrat", "Arial", sans-serif;
}

.place-item .view-offers-button:hover,
.place-item .view-offers-button:focus {
  background-color: #ffc74a;
  color: #b98000;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.place-item .view-offers-button:active {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(248, 199, 89, 0.5);
          box-shadow: 0px 0px 10px 5px rgba(248, 199, 89, 0.5);
}

.explore {
  background-color: #f8f9fb;
  background-image: url("../img/explore-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.explore-wrapper {
  width: 1170px;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.explore-info {
  text-align: left;
  margin-right: 50px;
}

.explore-title {
  text-align: center;
  margin: 0;
  color: #606f81;
  font: 700 30px/46px "Montserrat", "Arial", sans-serif;
  padding-top: 62px;
  padding-bottom: 62px;
}

.city-title {
  margin: 0;
  font: 700 36px/60px "Montserrat", "Arial", sans-serif;
  color: #f8c759;
  padding-top: 33px;
}

.city-text {
  margin: 0;
  font: 400 14px/30px "Montserrat", "Arial", sans-serif;
  color: #606f81;
  width: 550px;
  padding-top: 29px;
}

.check-offers-button {
  margin-top: 56px;
  font: 700 14px/30px "Montserrat", "Arial", sans-serif;
  padding: 10px 50px;
  margin-bottom: 140px;
}

.pic {
  position: relative;
  z-index: 2;
}

.pic::after {
  content: "";
  position: absolute;
  border: 16px solid #ffc74a;
  z-index: -1;
  width: 563px;
  height: 547px;
  top: 33px;
  left: 27px;
}

.enjoy {
  height: 642px;
  background-color: #21292c;
  background-image: url("../img/enjoy.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.enjoy-wrapper {
  width: 1170px;
  margin: 0 auto;
  text-align: center;
}

.enjoy-title {
  margin: 0;
  text-align: center;
  font: 700 92px/92px "Montserrat", "Arial", sans-serif;
  color: #ffffff;
  padding-top: 193px;
  padding-bottom: 38px;
}

.newsletter {
  display: block;
  white-space: nowrap;
  margin: 0;
  padding-top: 45px;
  text-align: center;
  font: 400 18px/20px "Montserrat", "Arial", sans-serif;
  color: #ffffff;
}

.newsletter  a {
  display: inline;
  color: #ffc74a;
  text-decoration: underline;
}

.sign-up-button {
  padding: 18px 47px;
  font: 700 14px/16px "Montserrat", "Arial", sans-serif;
}

.main-footer {
  width: 1170px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding-top: 166px;
  padding-bottom: 220px;
}

.polind {
  margin: 0;
  position: absolute;
  color: #ffffff;
  text-shadow: 0px 0px 125px rgba(141, 148, 169, 0.25);
  font: 700 305px/230px "Montserrat", "Arial", sans-serif;
  text-transform: uppercase;
  z-index: -1;
  left: -6%;
  top: 22%;
}

.rights-reserved {
  font: 700 24px/32px "Montserrat", "Arial", sans-serif;
  margin: 0;
  padding-top: 20px;
  color: #606f81;
}
