body {
  margin: 0;
  padding: 0;
  min-width: 1600px;
  font: 500 18px/24px "Raleway", "Arial", sans-serif;
  color: #7c7c7c;
  text-transform: none;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1170px;
  padding: 0 30px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 10px;
  text-align: center;
  font: 500 16px/22px "Raleway", "Arial", sans-serif;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #66d4f4;
  border-radius: 30px;
  border: none;
  outline:none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-header {
  color: #ffffff;
  background-color: #42a8f6;
  background-image: url("../img/header-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 92px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 45px;
  margin-bottom: 302px;
}

.main-navigation::after {
  content: "";
  position: absolute;
  width: 1110px;
  height: 1px;
  background-color: #ffffff;
  top: 133px;
}

.logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 260px;
}

.main-header-logo {
  cursor: pointer;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.4;
}

.navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.site-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 14px;
}

.text-logo {
  font: 500 40px/28px "Roboto Slab", "Arial", serif;
  margin: 0;
  padding-left: 10px;
  padding-top: 10px;
}

.site-navigation-link {
  color: #ffffff;
  font: 600 17px/24px "Raleway", "Arial", sans-serif;
  text-transform: uppercase;
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  opacity: 0.8;
}

.site-navigation-link:active {
  opacity: 0.4;
}

.site-navigation-item {
  padding-right: 38px;
}

.site-navigation-item:last-child {
  padding-right: 34px;
}

.button-login {
  background-color: #4ca3e6;
  border-radius: 10px;
  padding: 14px 31px 10px 31px;
}

.button-login:hover,
.button-login:focus,
.learn-more-button:hover,
.learn-more-button:focus {
  -webkit-box-shadow: 0px 0px 5px 5px rgba(76, 163, 230, 0.5);
          box-shadow: 0px 0px 5px 5px rgba(76, 163, 230, 0.5);
}

.button-login:active,
.learn-more-button:active {
  opacity: 0.8;
}

.header-wrapper {
  background: url("../img/header-img.png") 100% no-repeat;
  background-position: 73% 220px;
}

.main-info-title {
  font: 500 40px/28px "Roboto Slab", "Arial", serif;
  text-transform: uppercase;
  margin: 0;
}

.main-info-title span {
  padding: 0 11px 0 13px;
}

.main-info-text {
  width: 510px;
  font: 500 26px/40px "Raleway", "Arial", sans-serif;
  padding-top: 11px;
  margin-bottom: 64px;
}

.header-buttons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 210px;
}

.google-store-button {
  border-radius: 10px;
  padding: 18px 36px 21px 82px;
  font: 500 20px/40px "Raleway", "Arial", sans-serif;
  text-transform: none;
  background-color: #ffffff;
  color: #3e3e3e;
  position: relative;
  margin-right: 27px;
}

.google-store-button::before {
  position: absolute;
  content: "";
  background: url("../img/google-play.png") 100% no-repeat;
  top: 24px;
  left: 32px;
  width: 30px;
  height: 32px;
}

.learn-more-button {
  border-radius: 10px;
  padding: 20px 68px 19px 67px;
  font: 500 20px/40px "Raleway", "Arial", sans-serif;
  text-transform: none;
  background-color: #4f9edb;
  color: #ffffff;
}

.google-store-button:hover,
.google-store-button:focus {
  -webkit-box-shadow: 0px 0px 7px 7px rgba(76, 163, 230, 0.9);
          box-shadow: 0px 0px 7px 7px rgba(76, 163, 230, 0.9);
}

.google-store-button:active {
  color: #7c7c7c;
}

.price-title {
  text-align: center;
}

.servises-title,
.other-servises-title,
.feedback-title,
.price-title,
.subscribe-title {
  text-align: center;
  margin: 0;
  font: 400 18px/24px "Roboto Slab", "Arial", serif;
  margin-bottom: 100px;
}

.servises-title span,
.other-servises-title span,
.feedback-title span,
.price-title span,
.subscribe-title span {
  font: 700 24px/42px "Roboto Slab", "Arial", serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #494949;
}

.servises-list,
.other-servises-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 160px;
}

.servises-list::before,
.other-servises-list::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background-color: #2eb0ec;
  left: 540px;
  top: -88px;
}

.services-item {
  display: inline-block;
  width: 300px;
  text-align: center;
}

.services-item {
  margin-right: 80px;
}

.services-item:last-child {
  margin-right: 0;
}

.services-item:nth-child(1) {
  margin-left: 25px;
}

.services-item:nth-child(2) {
  margin-top: 10px;
}

.service-title {
  margin: 0;
  color: #494949;
  margin-bottom: 22px;
  margin-top: 35px;
}

.services-item:nth-child(2) .service-title {
  margin-top: 49px;
}

.service-text {
  margin: 0;
  font: 500 14px/26px "Raleway", "Arial", sans-serif;
}

.customization {
  background-image: url("../img/customization-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 49px;
}

.customization-wrapper {
  width: 540px;
  padding-left: 570px;
}

.bg-wrapper {
  background: url("../img/customization-img.png") 100% no-repeat;
  background-position: 0% 120px;
}

.customization-title {
  color: #b3b4b4;
  padding-top: 135px;
  font: 600 22px/26px "Raleway", "Arial", sans-serif;
  margin: 0;
  padding-bottom: 5px;
}

.customization-title span {
  font: 600 32px/68px "Raleway", "Arial", sans-serif;
  color: #494949;
}

.customization-text {
  margin: 0;
  font: 500 20px/32px "Raleway", "Arial", sans-serif;
  padding-bottom: 55px;
}

.customization-list {
  margin-bottom: 40px;
}

.customization-item {
  font: 500 14px/30px "Raleway", "Arial", sans-serif;
  position: relative;
  padding-left: 40px;
  padding-bottom: 8px;
}

.customization-item::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #c8ebf5;
  top: 5px;
  left: 1px;
}

.customization-item::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #66d4f4;
  top: 9px;
  left: 5px;
}

.read-more-button {
  background-color: #66d4f4;
  padding: 15px 31px;
  margin-left: 5px;
  font: 600 15px/18px "Raleway", "Arial", sans-serif;
  margin-bottom: 188px;
}

.read-more-button:hover,
.read-more-button:focus,
.sign-up-button:hover,
.sign-up-button:focus,
.subscribe-button:hover,
.subscribe-button:focus {
  -webkit-box-shadow: 0px 10px 7px 7px rgba(102, 212, 244, 0.1);
          box-shadow: 0px 10px 7px 7px rgba(102, 212, 244, 0.1);
}

.read-more-button:active,
.sign-up-button:active,
.subscribe-button:active {
  opacity: 0.7;
}

.other-servises-title {
  margin-bottom: 132px;
}

.other-servises-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}

.other-services-item {
  width: 330px;
  padding-left: 63px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 50px;
  margin-bottom: 104px;
  position: relative;
}

.other-services-item:nth-child(3n) {
  margin-right: 0;
}

.other-service-title {
  font: 600 18px/24px "Raleway", "Arial", sans-serif;
  color: #494949;
  margin: 0;
  padding-bottom: 15px;
}

.other-service-text {
  font: 500 14px/26px "Raleway", "Arial", sans-serif;
  margin: 0;
  width: 255px;
}

.other-servises-list::before {
  top: -120px;
}

.other-services-item:nth-child(1)::before {
  position: absolute;
  content: "";
  background: url("../img/idea-icon.png") 100% no-repeat;
  top: -8px;
  left: 14px;
  width: 30px;
  height: 44px;
}

.other-services-item:nth-child(2)::before {
  position: absolute;
  content: "";
  background: url("../img/coding-icon.png") 100% no-repeat;
  top: -4px;
  left: 3px;
  width: 41px;
  height: 32px;
}

.other-services-item:nth-child(3)::before {
  position: absolute;
  content: "";
  background: url("../img/game-icon.png") 100% no-repeat;
  top: -4px;
  left: 1px;
  width: 46px;
  height: 33px;
}
.other-services-item:nth-child(4)::before {
  position: absolute;
  content: "";
  background: url("../img/responsive-icon.png") 100% no-repeat;
  top: -6px;
  left: 12px;
  width: 32px;
  height: 32px;
}

.other-services-item:nth-child(5)::before {
  position: absolute;
  content: "";
  background: url("../img/shopping-icon.png") 100% no-repeat;
  top: -7px;
  left: 2px;
  width: 44px;
  height: 40px;
}

.other-services-item:nth-child(6)::before {
  position: absolute;
  content: "";
  background: url("../img/bonus-icon.png") 100% no-repeat;
  top: -13px;
  left: 5px;
  width: 41px;
  height: 43px;
}

.feedback {
  background-color: #f3f9fa;
  background-image: url("../img/feedback-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.feedback-title  {
  padding-top: 45px;
  margin-bottom: 0;
}

.feedback {
  height: 755px;
}

.feedback-slider {
  margin: 0 auto;
  width: 730px;
  height: 550px;
  position: relative;
  overflow: hidden;
}

.feedback-slider input {
  visibility: hidden;
}

.feedback-slider input[type="radio"]:checked + .slide {
  left: 0;
  -webkit-transition: left 0.65s ease-out;
  -o-transition: left 0.65s ease-out;
  transition: left 0.65s ease-out;
}

.slide {
  text-align: center;
  position: absolute;
  top: 0;
  left: 100%;
  width: 730px;
  -webkit-transition: left 0s 0.75s;
  -o-transition: left 0s 0.75s;
  transition: left 0s 0.75s;
  margin: 0 auto;
}

.slide-inner {
  position: relative;
  margin-top: 130px;
  right: 0;
  left: 0;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 33px;
}

.slide-inner img {
  position: absolute;
  top: -45px;
  left: 310px;
}

.customer-name {
  margin: 0;
  padding-top: 78px;
  font: 700 20px/24px "Raleway", "Arial", sans-serif;
  color: #494949;
}

.customer-office {
  font: 500 15px/20px "Raleway", "Arial", sans-serif;
  color: #7c7c7c;
  margin: 0;
  padding-bottom: 35px;
}

.feedback-text {
  margin: 0;
  font: 500 18px/30px "Raleway", "Arial", sans-serif;
  color: #7c7c7c;
  width: 575px;
  padding-left: 78px;
  padding-bottom: 103px;
}

.feedback-slider label {
  cursor: pointer;
  top: 35px;
}

.arrow {
  font: 700 18px/30px "Raleway", "Arial", sans-serif;
  color: #494949;
  opacity: 0.5;
}

.arrow:hover,
.arrow:focus {
  opacity: 1;
}

.arrows-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 260px;
  margin-left: 220px;
}

.arrow-left {
  padding-left: 58px;
  position: relative;
}

.arrow-right {
  padding-right: 58px;
  position: relative;
}

.arrow-left::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 2px;
  background-color: #494949;
  opacity: 0.5;
  top: 10px;
  left: 10px;
}

.arrow-left::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #494949;
  border-right: 2px solid #494949;
  opacity: 0.5;
  top: 5px;
  left: 10px;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.arrow-right::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 2px;
  background-color: #494949;
  opacity: 0.5;
  top: 10px;
  left: 50px;
}

.arrow-right::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #494949;
  border-right: 2px solid #494949;
  opacity: 0.5;
  top: 5px;
  left: 72px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.feedback-slider::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background-color: #2eb0ec;
  left: 350px;
  top: 10px;
  z-index: 1000;
}

.free-wrapper {
  width: 460px;
  padding-bottom: 135px;
}

.free {
  background: url("../img/free-bg.png") 100% no-repeat;
  background-position: 91% 0px;
}

.free-title {
  margin: 0;
  font: 600 22px/48px "Raleway", "Arial", sans-serif;
  color: #b6b6b6;
  margin-top: 162px;
}

.free-title span {
  font: 600 32px/48px "Raleway", "Arial", sans-serif;
  color: #494949;
}

.free-text {
  margin: 0;
  font: 500 20px/32px "Raleway", "Arial", sans-serif;
  padding-top: 13px;
  padding-bottom: 8px;
}

.free-text span {
  font: 500 14px/18px "Raleway", "Arial", sans-serif;
}

.pricing {
  background-image: url("../img/pricing-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.price-title {
  padding-top: 65px;
  margin-bottom: 135px;
}

.price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 45px;
  padding-bottom: 150px;
  position: relative;
}

.price-list::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background-color: #2eb0ec;
  left: 570px;
  top: -125px;
  z-index: 1000;
}

.price-item {
  display: inline-block;
  text-align: center;
  background: #ffffff url("../img/card-bg.png") 100% no-repeat;
  background-position: 20px -115px;
  width: 320px;
  height: 580px;
  border: 1px solid #f1f1f1;
  border-radius: 20px;
  margin-right: 58px;
}

.price-item:hover,
.price-item:focus {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.price-item:nth-child(3) {
  margin-right: 0;
}

.price-item-title {
  margin: 0;
  font: 700 16px/26px "Raleway", "Arial", sans-serif;
  color: #494949;
  padding-top: 193px;
}

.price-item-title-student,
.price-item-title-professional,
.price-item-title-unlimited {
  position: relative;
}

.price-item-title-student::before {
  content: "";
  position: absolute;
  top: 45px;
  left: 120px;
  width: 78px;
  height: 93px;
  background: transparent url("../img/student-icon.png") 100% no-repeat;
}

.price-item-title-professional::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 105px;
  width: 110px;
  height: 93px;
  background: transparent url("../img/professional-icon.png") 100% no-repeat;
}

.price-item-title-unlimited::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 115px;
  width: 90px;
  height: 90px;
  background: transparent url("../img/unlimited-icon.png") 100% no-repeat;
}

.offer-list {
  margin-bottom: 40px;
}

.offer-item {
  font: 500 14px/32px "Raleway", "Arial", sans-serif;
}

.price {
  font: 700 72px/58px "Raleway", "Arial", sans-serif;
  color: #2eb0ec;
  margin: 0;
  position: relative;
  padding-bottom: 35px;
}

.price sup,
.price sub {
  font: 500 20px/32px "Raleway", "Arial", sans-serif;
}

.price sup {
  position: absolute;
  top: 7px;
  left: 82px;
}

.sign-up-button {
  padding: 16px 40px;
  font: 700 14px/18px "Raleway", "Arial", sans-serif;
  letter-spacing: 2px;
}

.subscribe {
  border-bottom: 1px solid #dfdfdf;
}

.subscribe-form {
  text-align: center;
  padding-bottom: 112px;
  position: relative;
}

.subscribe-form::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background-color: #2eb0ec;
  left: 540px;
  top: 145px;
  z-index: 1000;
}

.subscribe-form input {
  width: 375px;
  padding: 28px 48px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: #f5fafa;
  font: 700 14px/18px "Raleway", "Arial", sans-serif;
  margin-bottom: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input.write-name::-webkit-input-placeholder,
input.write-email::-webkit-input-placeholder {
  color: #505050;
  opacity: 0.35;
  text-align: center;
}

input.write-name:-ms-input-placeholder,
input.write-email:-ms-input-placeholder {
  color: #505050;
  opacity: 0.35;
  text-align: center;
}

input.write-name::-ms-input-placeholder,
input.write-email::-ms-input-placeholder {
  color: #505050;
  opacity: 0.35;
  text-align: center;
}

input.write-name::placeholder,
input.write-email::placeholder {
  color: #505050;
  opacity: 0.35;
  text-align: center;
}

.write-name:focus,
.write-email:focus {
  background-color: #ffffff;
  border: 1px solid #f7f7f7;
  outline: none;
  color: #7c7c7c;
  opacity: 1;
}

.subscribe-title {
  padding-top: 67px;
  margin-bottom: 82px;
}

.subscribe-button {
  font: 700 16px/18px "Raleway", "Arial", sans-serif;
  padding: 29px 140px;
  border-radius: 50px;
}

.footer-aside {
  margin-right: 115px;
}

.footer-logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 58px;
}

.footer-text-logo {
  font: 500 36px/28px "Roboto Slab", "Arial", serif;
  color: #494949;
  margin: 0;
  padding-left: 10px;
  padding-top: 5px;
}

.footer-text {
  width: 210px;
  font: 500 14px/28px "Raleway", "Arial", sans-serif;
}

.social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  padding-bottom: 76px;
}

.main-footer::after {
  position: absolute;
  content: "";
  background-color: #dfdfdf;
  width: 1170px;
  height: 1px;
  top: 323px;
  left: -30px;
}

.footer-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 42px;
}

.footer-menu-item {
  margin-right: 110px;
}

.footer-menu-item:nth-child(3) {
  margin-right: 123px;
}

.footer-menu-item:last-child {
  margin-right: 0;
}


.social-buttons {
  font-size: 0;
  margin: 0;
  padding: 0;
  width: 115px;
  padding-top: 3px;
}

.social-button-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  position: relative;
}

.social-button-link-facebook {
  background-color: #3b579d;
}

.social-button-link-google {
  background-color: #da4835;
}
.social-button-link-twitter {
  background-color: #55acee;
}

.social-button-link-facebook::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 13px;
  z-index: 1;
  background: url("../img/facebook-icon.png") 100% no-repeat;
  background-position: center;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.social-button-link-google::before {
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  z-index: 100;
  background: url("../img/google-icon.png") 100% no-repeat;
  background-position: center;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.social-button-link-twitter::before {
  position: absolute;
  content: "";
  width: 13px;
  height: 10px;
  z-index: 1;
  background: url("../img/twitter-icon.png") 100% no-repeat;
  background-position: center;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.social-button-link:hover,
.social-button-link:focus {
  -webkit-box-shadow: 0px 0px 3px 3px rgba(150, 144, 144, 0.3);
          box-shadow: 0px 0px 3px 3px rgba(150, 144, 144, 0.3);
}

.social-button-link-facebook:active::before,
.social-button-link-google:active::before,
.social-button-link-twitter:active::before {
  opacity: 0.5;
}

.footer-menu-title {
  font: 700 20px/32px "Raleway", "Arial", sans-serif;
  color: #494949;
  margin: 0;
  padding-bottom: 30px;
}

.submenu-item-link {
  font: 400 14px/28px "Raleway", "Arial", sans-serif;
  color: #7c7c7c;
}

.submenu-item-link:hover,
.submenu-item-link:focus {
  font: 700 14px/28px "Raleway", "Arial", sans-serif;
}

.submenu-item-link:active {
  opacity: 0.7;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
          padding-bottom: 30px;
}

.bottom-info {
  font: 500 14px/28px "Raleway", "Arial", sans-serif;
  margin: 0;
  padding-top: 32px;
  padding-right: 37px;
  position: relative;
}

.bottom-info span {
  font: 700 14px/28px "Raleway", "Arial", sans-serif;
}

.bottom-info:nth-child(1)::after,
.bottom-info:nth-child(2)::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 1px;
  background-color: #7c7c7c;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 45px;
  left: 125px;
}
